body {
	padding: 0;
	margin: 0;
	background-color: black;
	overflow: hidden;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 1em;
}

html {
	font-family: 'IM Fell English SC';
}

/* For desktop: */
.col-1 {width: 8.33%;margin: 0;padding: 0;}
.col-2 {width: 16.66%;margin: 0;padding: 0;}
.col-3 {width: 25%;margin: 0;padding: 0;}
.col-4 {width: 33.33%;margin: 0;padding: 0;}
.col-5 {width: 41.66%;margin: 0;padding: 0;}
.col-6 {width: 50%;margin: 0;padding: 0;}
.col-7 {width: 58.33%;margin: 0;padding: 0;}
.col-8 {width: 66.66%;margin: 0;padding: 0;}
.col-9 {width: 75%;margin: 0;padding: 0;}
.col-10 {width: 83.33%;margin: 0;padding: 0;}
.col-11 {width: 91.66%;margin: 0;padding: 0;}
.col-12 {width: 100%;margin: 0;padding: 0;}

/* @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }
} */
#mainScreen {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
  top: 0;
	z-index: 1;
	transition: 2s;
}
#witchImg {
  width: 40%;
	transition: 2s;
	bottom: 0;
	left: -20%;
	position: absolute;
}
#soldierImg {
	width: 40%;
	transition: 2s;
	bottom: 0;
	right: -20%;
	position: absolute;
}
#witchCustomization {
	width: 100%;
	height: 100%;
	position: absolute;
  top: 0;
	margin-left: -100%;
	margin-right: 100%;
	transition: 2s;
}
#soldierCustomization {
	width: 100%;
	height: 100%;
	position: absolute;
  top: 0;
	margin-left: 100%;
	transition: 2s;
}
#siteLogo {
  width: 30%;
}
h1 {
	margin: 0;
	padding: 5%;
}
a {
	text-decoration: none;
}
.link {
	margin: 0;
	padding: 5%;
	font-size: 30px;
}
p{
	font-size: 20px;
	margin: 0;
	padding: 1em;
}

.selectionBtn {
	margin: 1em;
	height: 2em;
}

.customizeBtn{
  border: none;
	cursor: pointer;
	background-color: transparent;
}

.customizeBtn:active, .customizeBtn:focus {
  outline: none;
}

.playBtn {
	background-image: url('https://i.pinimg.com/originals/3f/2f/26/3f2f266213ef4ee3162f058d193246c5.png');
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	font-size: 2em;
	border: none;
	cursor: pointer;
	text-align: center;
  color: white;
  font-family: 'IM Fell English SC';
}

.playBtn:hover {
	/*box-shadow: 0 0 2em white;*/
	filter: drop-shadow(0 0 0.2em white);
	color: black;
}

.playBtn:active, .customizeBtn:focus {
  outline: none;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.white{
	color: white;
}
input {
	border: none;
	width: 70%;
	text-align: center;
	font-size: 20px;
	padding: 0.5em;
}
.fixedBottom {
	bottom: 0;
	position: absolute;
}

.bottom {
  bottom: 1em;
  position: absolute;
}

.padded {
	padding: 1em;
}
