body {
	margin: 0px;
	background-color: #000000;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 1em;
}

html {
	font-family: 'IM Fell English SC';
}

/* For desktop: */
.col-1 {width: 8.33%;margin: 0;padding: 0;}
.col-2 {width: 16.66%;margin: 0;padding: 0;}
.col-3 {width: 25%;margin: 0;padding: 0;}
.col-4 {width: 33.33%;margin: 0;padding: 0;}
.col-5 {width: 41.66%;margin: 0;padding: 0;}
.col-6 {width: 50%;margin: 0;padding: 0;}
.col-7 {width: 58.33%;margin: 0;padding: 0;}
.col-8 {width: 66.66%;margin: 0;padding: 0;}
.col-9 {width: 75%;margin: 0;padding: 0;}
.col-10 {width: 83.33%;margin: 0;padding: 0;}
.col-11 {width: 91.66%;margin: 0;padding: 0;}
.col-12 {width: 100%;margin: 0;padding: 0;}

/* @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }
} */

button {
	font-family: 'IM Fell English SC';
    cursor: pointer;
}

.center {
	text-align: center;
}

#logo {
	width: 20em;
}
